@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    background-color: #373760;
    height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.103);
    font-weight: bold;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
    padding-top: 30px;
    margin: auto auto 25px auto;
}

#ToDo, #completed {
    width: 425px;
    height: 100%;
    margin: auto;
    display: block;
    color: #d8d7d7b2;
    font-weight: bold;
    margin-left: 5%;
    padding-bottom: 10px;
    display: none;
    cursor: pointer;
}

#completed {
    padding-top: 25px;
}

.box {
    width: 85%;
    height: 45px;
    border: 1px solid #4444;
    border-radius: 25px;
    background-color: #272851;
    padding: 1px 0px 0px 5px;
    margin: auto;
}

.box > input {
    height: 41px;
    width: 80%;
    border: none;
    outline: none;
    margin-left: 15px;
    background-color: #272851;
    color: white;
}

input::placeholder {
    color: #ffffffc0;
}

button.add {
    height: 30px;
    width: 30px;
    margin: 1px 1px 1px 1%;
    border: none;
    border-radius: 50%;
    background-color: #3E79AE;
    cursor: pointer;
}

button.add:hover {
    transform: scale(1.03);
    border-radius: 50%;
}

button.add:active {
    transform: scale(0.98);
    border-radius: 50%;
}

#icon {
    color: white;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    margin: auto;
    /* border: 1px solid red; */
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #43446A;
    height: 60px;
    width: 90%;
    margin: 5px auto 5px auto;
    border: 1px solid #4A4B6F;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.155);
}

.item-icone {
    flex: 15%;
    /* border: 1px solid orange; */
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
}

.item-icone > i {
    color:  #EBF1F6;
}

.item-nome {
    flex: 70%;
    /* border: 1px solid deeppink; */
    font-weight: 500;
    color: white;
}
.item-botao {
    flex: 15%;
    /* border: 1px solid red; */
}

.item-botao > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: #654ded28;
    border-radius: 1.25em;
    transition: all .2s linear;
    cursor: pointer;
}

.item-botao > button:hover {
    box-shadow:  3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),  8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),  17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),  36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),  99px 72px 143px rgba(0, 0, 0, 0.08);;
}

.delete {
    position: relative;
    display: inline-block;
    height: 51px;
}

.delete:active {
    transition: .1s ;
    transform: scale(0.95);
}

.delete .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: #00000041;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.delete .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.delete:hover .tooltiptext {
    visibility: visible;
}

.delete span {
    color: #5f49db;

}

.item.clicado {
    background-color: #37376089;
    border: 1px solid #4a4b6f85;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: #c0bdbd;
}
